#main_sheet{
	position: absolute;
	left: 50%;
	margin-left: -500px;
	width: 1000px; 
	height: 3900px!important;
	background-color: transparent;
	margin-top: 20px;
	margin-bottom:20px;
}

.content-container{
	position: absolute;
	left: 150px;
	top: 20px;
	height: 3350px!important;
	width: 800px;
	background-color: rgba(196,52,52,1);
	box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
}

#main_content{
	position: absolute;
	width: 1000px;
	border: 2px solid #fff;
	height: 3400px;
	top: 415px;
	background-color: rgba(188,191,196,1);

}

#footer{
	position: absolute;
	top: 3850px;
	height: 20px;
	width: 100%;
	color: #fff;
	text-align: center;
}

#main_conent_header{
	position: absolute;
	left: 0px;
	width: 100px;
	height: 100%;
	background-color: rgb(124,196,144);
}

.content-container{
	position: absolute;
	left: 150px;
	top: 20px;
	height: 600px;
	width: 800px;
	background-color: #fff;
	box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
}

.content-container-header{
	height: 50px;
	width: 100%;
	background-color: rgb(124,196,144);
}

.content-container-header > span{
	position: absolute;
	color: #fff;
	top: 10px;
	left: 10px;
	font-size: 30px;
}